{require_min_otp_vsn, "R15"}.
{erl_opts, [debug_info, {parse_transform, lager_transform}]}.
%{erl_opts, [{parse_transform, lager_transform}, {lager_truncation_size, 1024}]}.
%{erl_opts, [{parse_transform, lager_transform}]}.
%{erl_opts, [debug_info]}.

{cover_enabled, true}.
{sub_dirs, ["rel"]}.

{deps, [  
  {lager, ".*", {git, "git://github.com/basho/lager.git", {branch, "master"}}}
  %{lager_amqp_backend, ".*", {git, "https://github.com/jbrisbin/lager_amqp_backend.git", "master"}},  
  %{amqp_client,   ".*", {git, "https://github.com/jbrisbin/amqp_client.git", {tag,"rabbitmq_2.7.0"}}}  
]}.  
